/web-server/MyPropertyWebApp/bin
/web-server/MyPropertyWebApp/obj
/web-server/MyProperty.Services/bin
/web-server/MyProperty.Services/obj
/web-server/MyProperty.Data/obj
/web-server/MyProperty.Data/bin
/web-server/MyProperty.Common/bin
/web-server/MyProperty.Common/obj
