.is-invalid {
    border-color: red;
}

.invalid-feedback{
    display:block;
}
.txt-fff{-webkit-text-fill-color:white;-moz-text-fill-color: white;}
.bg-dark {
    background-color: #50B849 !important;
}