<div class="template-form">
  <form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm.value, changePasswordForm.valid, $event)" class="horizontal-form">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <div class="md-card">
      <div class="md-card-heading bg-primary">
        <div class="md-card-title">Change Password</div>
      </div>
      <div class="md-card-body">
        <div class="row">
          <div class="col-md-9">
            <div class="mda-form-group">
                <input type="password" class="mda-form-control" formControlName="oldpassword" required="" tabindex="1" aria-required="true"
                [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors}" aria-invalid="true" />
                <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                  <div *ngIf="submitted && f.oldpassword.errors.required">Old password is required</div>
                </div>
              <label>Old Password</label>
            </div>
          </div>
          <div class="col-md-9">
              <div class="mda-form-group">
                  <input type="password" class="mda-form-control" formControlName="newpassword" required="" tabindex="2" aria-required="true"
                  [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors}" aria-invalid="true" />
                  <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.newpassword.errors.required">New password is required</div>
                  </div>
                <label>New Password</label>
              </div>
            </div>
            <div class="col-md-9">
              <div class="mda-form-group">

                  <input type="password" class="mda-form-control" formControlName="confirmpassword" required="" tabindex="3" aria-required="true"
                  [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors}" aria-invalid="true" />
                  <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.confirmpassword.errors.required">Confirm password is required</div>
                  </div>
                  <div *ngIf="!f.newpassword.errors && !f.confirmpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmpassword.value != f.newpassword.value">New password and confirm password do not match.</div>
                  </div>
                <label>Confirm Password</label>
              </div>
            </div>

        </div>
        
        <div class="row pt-5 pb-3">
          <div class="col-sm-12">
            <button type="button" [routerLink]="['/home']" class="btn btn-secondary float-left" >Cancel</button>
            <button type="submit" class="btn btn-primary float-right" >Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>