@media (max-width: 1199px){
    .sidebar-nav>li>.nav-item>em, .sidebar-nav>li>a>em {
        width: 1.4em;
        }
        .sidebar-nav > li > a, .sidebar-nav > li > .nav-item{
            padding: 10px 5px;
            font-size: 14px;}
}